.alloflogin {
  display: grid;
  justify-items: center;
  margin: 15px;
  border: 2px;
  border-style: solid;
  background-color: rgb(184, 57, 57);
}

.inputlogin {
  justify-content: center;
  height: 10vh;
  width: 60vw;
  margin: 1%;
}

.buttonstylelogin{
    
    
    height:10vh;
    width: 30vw;
justify-content: center;
}