.p{
    color: blue;
}

.detDiv{
    display: flex;
    width: 50vw;
    height: 50vh;
    justify-content: center;
    border-radius:7px;
    border-style: solid;
    border-color: rgb(70, 74, 136);
    margin: 10px;
    background-color: cadetblue;
}
.allDet{
    display: grid;
    width: 50%;
    height: 50%;
    justify-content: center;
    border-radius:7px;
    border-style: solid;
    margin: 10px;
    background-color: cadetblue;
    border-color:  rgb(70, 74, 136);
}


.contDiv{
display: flex;
margin: 5px;
}

.clickDiv{
  display: flex; 
  margin-top: 30%;
  width: 75px;
  height: 30px;

}