.Navbardiv {
  display: flex;
  justify-content: space-between;
  width: 100vw;
  height: 7vh;
  background-color: brown;
  text-transform: capitalize;
  align-items: center;
}

.Logo {
  display: flex;
  justify-items: right;
  justify-content: right;
  height: 7vh;
  width: 4vw;
}

.AllLink {
  display: flex;
  justify-items: right;
  justify-content: right;
  justify-self: flex-start;
  margin-left: 50vh;
}
.DivSearchAndDrop {
  display: flex;
  height: 6vh;
  justify-content: center;
  justify-items: center;
  margin-top: 0.5vh;
  margin-left: 25vh;
}

.Navbardiv a:hover {
  background-color: rgb(250, 124, 124);
}
