*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
.App {
text-align: center;
background-color: #67696d;

}

a {
margin: 15px;
color: rgb(238, 235, 221);
margin-top: 10px;
text-decoration: none;
gap: 15px;
}

.nameOfBroject{
   color: rgb(255, 255, 255);
}

body{
    height: 100%;
    width: 100%;
}