*{
    margin: 0;
    padding: 0;
    
}
.App {
text-align: center;
background-color: black;

}

a {
margin: 15px;
color: rgb(238, 235, 221);
margin-top: 10px;
text-decoration: none;
gap: 15px;
}

.nameOfBroject{
   color: cornflowerblue;
}
